/* ================== Banner ================== */
#banner-image {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

#banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Buttons container */
#main-btn-shop {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1rem; /* space between buttons */
}

/* Button style */
.btn-shop {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    color: #fff;
    border: 3px solid #fff;
    background: transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.btn-shop:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

/* ================== Responsive ================== */

/* Banner Carosel */
#carosel-banner{
    height: 350px;
}



/* Phones */
@media screen and (max-width: 576px) {
    #banner-image {
        height: 30vh;
    }

    #main-btn-shop {
        bottom: 5%; /* closer to bottom for small screens */
        gap: 0.5rem;
    }

    .btn-shop {
        padding: 0.25rem 0.75rem;
        font-size: 10px;
    }

    #carosel-banner{
        height: 150px;
    }

}

/* Tablets */
@media screen and (min-width: 577px) and (max-width: 993px) {
    #banner-image {
        height: 45vh;
    }

    #main-btn-shop {
        bottom: 8%;
        gap: 0.75rem;
    }

    .btn-shop {
        padding: 0.4rem 1rem;
        font-size: 12px;
    }
    
    #carosel-banner{
        height: 250px;
    }
}

/* Large screens */
@media screen and (min-width: 994px) {
    #banner-image {
        height: 70vh;
    }

    #main-btn-shop {
        bottom: 10%;
        gap: 1rem;
    }

    .btn-shop {
        padding: 0.5rem 1.5rem;
        font-size: 14px;
    }
    .logo-company{
        width: 250px;
    }
}