*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#card{
    height: 500px;
}
.card-header{
    height: 70%;
}
.card-body{
    height: 30%;
}


/* =========================
   Tablet (≤ 768px)
========================= */
@media (max-width: 768px) {

    .card-header {
        height: 260px;
    }
    .name-item{
        font-size: 10px !important;
        font-weight: bold;
    }
    .price-item {
        font-size: 10px !important;
    }
    .price-heart > .bi-heart{
        font-size: 10px !important;
    }
    .btn-card {
        flex-direction: column;
    }
    #card  {
        height: 350px;
    }
    .btn-card{
        margin-top: -20px;
    }
    .btn-card button {
        padding: 0px;
        width: 100%;
        margin-top: 10px;
    }
    #title{
        margin-bottom: -20px;
    }
}

/* =========================
   Mobile (≤ 576px)
========================= */
@media (max-width: 576px) {

    .card-header {
        height: 220px;
    }

    .name-item {
        font-size: 14px;
    }

    .price-item {
        font-size: 13px;
    }

    .btn-card button {
        font-size: 13px;
    }
}