/* Mobile */
@media screen and (max-width: 576px){

.logo-company{
        width: 100px;
    }

}

@media screen and (min-width: 577px) and (max-width: 993px){
    .logo-company{
        width: 150px;
    }
}